<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">News Scraper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="/articles">Articles</a>
      <a class="nav-item nav-link active" href="#">Saved Articles <span class="sr-only">(current)</span></a>
    </div>
  </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Saved Articles <i class="far fa-bookmark"></i></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>{{#each dbArticle}}</tr>
                    <td>
                      <div class="row">
                          <div class="col-md-10">
                            <h4>{{this.title}}</h4>
                            <p>{{this.summary}}</p>
                            <a href={{this.link}}>Read More</a>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-success note" data-id={{this._id}}>Add Note <i class="far fa-sticky-note"></i></button>
                        </div>
                      </div>
                    </td>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Note</h5>
        <button type="button" class="close-note" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p class="prev-notes" data-id={{this._id}}></p>
          <form>
            <div class="form-group">
                {{!-- <textarea class="form-control note" id="note" rows="3"></textarea> --}}
                <input class="form-control" type="text" placeholder="Note">
            </div>
          </form>
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary close-note" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary save-note">Save Note</button>
      </div>
    </div>
  </div>
</div>